<div class="container p-4 bg-light">    
    <%= form_for( @property_form , url: property_path, method: :put, remote: true) do |f| %>
        <%= render partial: "partials/form", locals: {f:f} %>
        <div class="container mt-3">
            <h3 class="text-center mb-3"> Imágenes de la propiedad</h3>
            <%= image_tag @property_form.main_image, width: '100%', height: '400px' %>
            <% @property_form.prop_images.each do |img| %>
                <%= image_tag(img, width: '100%', height: '400px') %>

            <% end %>
        </div>
        <div class="form-group text-center mt-4">
            <%= link_to 'Cancelar', property_path(@property_form), :class => 'btn btn-lg btn-primary'%>
            <%= f.submit 'Actualizar propiedad', class: 'btn btn-lg btn-success'%>
        </div>
    <% end %>
</div>