<div class="container">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Nombre completo</label>
            <p class="form-control"><%= @lead_form.name %></p>
        </div>
        <div class="form-group col-md-12">
            <label>Telefono</label>
            <p class="form-control"><%= @lead_form.phone %></p>    
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label >Correo electrónico</label>
            <p class="form-control"><%= @lead_form.email %></p>    
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label >Observaciones</label>
            <textarea class="form-control"><%= @lead_form.name %></textarea>    
        </div>
    </div>
    <div class="text-center">
        <%= link_to "Volver", leads_path(@lead_form.property_id), class: 'btn btn-lg btn-success mt-3' %>
    </div>
</div>